In [1]:
import pandas as pd
import time
import numpy as np

# Clean data

In [211]:
def cut(x):
    fini= list(['A_Pending','A_Cancelled','A_Denied'])
    count=0
    for i in list(x.index):
        count+=1
        if x['Activity'][i]in fini:
            break
    return x.drop(x.index[count:])

In [215]:
g=data.groupby(['Case ID'],sort=False).apply(lambda x:cut(x))

In [217]:
data=g.droplevel(0)

In [219]:
tail=data.groupby(['Case ID']).apply(lambda x:x.tail(1))

In [220]:
tail['Activity'].unique()

array(['A_Cancelled', 'A_Pending', 'A_Denied'], dtype=object)

In [221]:
data.to_csv('BPIC 2017 just complete cases.csv',sep=';')

# Variant descovery

In [3]:
len(data['Case ID'].unique())

31411

In [4]:
#slicing DataFrame by case id to take one line only from each case
grouping=data.groupby(['Case ID']).apply(lambda x:(x.tail(1)))

#counting cases in each variant
v=grouping['Variant index'].unique()
ls=[]
for i in list(v):
    ls.append(len(grouping[grouping['Variant index']==i]))

#make it as a data frame to easy manipulating
variants=pd.DataFrame(columns=['variant','count'])
variants['variant']=grouping['Variant index'].unique()
variants['count']=ls

# sorting by most common variant
variants=variants.sort_values(by=['count'],ascending=False)

#taking the most common variant (in which there is more than one case : first 1111 rows)
#data1=data[data['Variant index'].isin(list(variants['variant'][0:46]))]

#then taking the rest !!
#data2=data[data['Variant index'].isin(list(variants['variant'][46:]))]

In [5]:
len(variants)

3997

In [7]:
len(variants[variants['count']==1])

2886

In [8]:
variants

      variant  count
0           1   3656
21          2   1454
1           3   1367
2           4   1354
13          5   1172
30          6    902
42          7    885
27          8    776
9           9    719
7          10    690
122        11    589
17         12    578
38         13    524
243        14    486
14         15    437
44         16    387
40         17    370
23         18    350
187        19    316
12         20    296
128        21    252
52         22    247
75         23    218
3          24    206
5          25    191
181        26    186
90         27    155
373        28    149
85         29    149
146        30    145
...       ...    ...
1897     3433      1
1899     2861      1
1900     1472      1
1901     2562      1
1903     1322      1
1904     3180      1
1877     3096      1
1874     3551      1
1849     3984      1
1873     3434      1
1850     3149      1
1852     4037      1
1853     2681      1
1854     3228      1
1855     1375      1
1857     3109      1
1858     2017      1
1859     1489      1
1860     2453      1
1861     3458      1
1862     2429      1
1863     3192      1
1865     2953      1
1866     3239      1
1867     3141      1
1869     3307      1
1870     1686      1
1871     2600      1
1872     3462      1
3996     1955      1

[3997 rows x 2 columns]